body {
	text-align: center;
	background-color: #EEE8AA	;
	display: block;
	margin: 8px;
	color: #8B4513;
}

div.message{
	text-align: center;
}

div.text {
	word-wrap: break-word;
	white-space: pre;
}

a {
	color:#8B4513;
}

div.user {
	padding: 0.5em 1em;
	margin: 2em 0;
	border: solid 2px #CC9966;
	border-radius: 3px;
}


.users {
	float: none;
}

ul {
	list-style: none;
}

p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

option {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
}

.btn-square-shadow {
	display: inline-block;
	padding: 0.1em 0.5em;
	text-decoration: none;
	background: #FFFFE0; /*ボタン色*/
	color: #8B4513;
	border-right: solid 2px #CC9966;
	border-radius: 3px;
}

.btn-square-shadow:active {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
	border-bottom: none;
}

input {
	display: inline-block;
	padding: 0.3em 0.7em;
	text-decoration: none;
	background: #FFFFE0; /*ボタン色*/
	color: #8B4513;
 	border-bottom: solid 8px #CC9966;
	border-right: solid 2px #CC9966;
	border-radius: 3px;
}

input {
	/*ボタンを押したとき*/
	-webkit-transform: translateY(4px);
	transform: translateY(4px); /*下に動く*/
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
	border-bottom: none;
}

div {
	font-family: sans-serif;
}
a {
	font-family: sans-serif;
}

form {
	font-family: sans-serif;
}

.main-contents {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	height: 100%;
	width: 800px;
	border: 4px solid;
	border-color: #D2B48C;
	border-radius: 20px;
}

.textlines {
	border: 2px solid #D2B48C;
	border-radius: 10px;
	background-color: white;
}



select {
	margin-right: 180px;
	position : left;
	background: white;
	color: #8B4513;
	padding: 0.3em 0.7em;
	color: #8B4513;
	border-right: solid 2px #CC9966;
	border-radius: 3px;
	position: left;
}

p.nomal{
	word-wrap: break-word;
}

p {
	white-space: pre-wrap;
}

.tweet-box {
	width: 780px;
	height: 56px;
}

.header {
	text-align: center;
	margin-top: 20px;
}

.form-area {
	text-align: center;

	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;
}

.date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}


.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.errorMessages {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	color:#8B4513;
	background-color: white;
	width: 800px;
	border: 4px solid;
	border-color: #D2B48C;
	border-radius: 20px;
}

